<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> 
    
    <script src="{% static 'styles/main.js' %}" defer ></script>
    <link rel="stylesheet" href="{% static 'styles/styles2.css' %} ">
    <script src="{% static 'styles/main.js' %}" defer ></script>
    
    
    
    <title>My Garage</title>



</head>
<body>
   

  {% if user.is_authenticated %}
    <nav>
        <div class="logo"></div>
        <ul>
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">HI &nbsp; {{ user.first_name}}</a></li>
          <li><a href="/accounts/logout" >Logout</a></li>
        </ul>
      </nav>
      <header>
        <div class="headline">
          <div class="inner">
            <h1>My Garage</h1>
            <p>Scroll down the page</p>
          </div>
        </div>
      </header>
    

{% else %}

        <nav>
          <div class="logo"></div>
          <ul>
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="/accounts/login" >Login</a></li>
            <li><a href="/accounts/register" >Register</a></li>
          </ul>
        </nav>
        <header>
          <div class="headline">
            <div class="inner">
              <h1>My Garage</h1>
              <p>Scroll down the page</p>
            </div>
          </div>
        </header>

{% endif %}


    </body>









    {% block content %}


    {% endblock content %}


</body>
</html>