{% extends 'garage/base.html'%}
{% block content %}





<div><a href="/brand">
    <!-- <p><span class="bg"></span><span class="base"></span><span class="text">Play Valorant</span></p></a><a class="white" href="#"> -->
    <!-- <p><span class="bg"></span><span class="base"></span><span class="text">Play Valorant</span></p></a><a class="transparent" href="#"> -->
    <p><span class="bg"></span><span class="base"></span><span class="text">Add Vehicles</span></p></a></div>



{% endblock content %}





