{% extends 'garage/base.html'%}
{% block content %}




My Vehicle







<div><a href="/brand">
    <!-- <p><span class="bg"></span><span class="base"></span><span class="text">Play Valorant</span></p></a><a class="white" href="#"> -->
    <!-- <p><span class="bg"></span><span class="base"></span><span class="text">Play Valorant</span></p></a><a class="transparent" href="#"> -->
    <p><span class="bg"></span><span class="base"></span><span class="text">Add Vehicles</span></p></a>
</div>



<br>

    <div class="container">

    {% for o in obj %}
        {{o.user.username}}
        {{o.vehicle.name}}
        <br>
        <hr>        
 

    
    {% endfor %}


</div>  








{% endblock content %}



