{% extends 'garage/base.html'%}
{% block content %}



<br>
<br>
<br>



    <form action="/booking/final/{{user_vehicle}}/{{service}}/{{package}}/{{price}}" method="post">
        {% csrf_token %}
    date:
    <input type="date"  name="date" required=""/> <br>

    Address
    <input type="text"  name="address"required=""/><br><br>
    number     
    <input type="text" name="number" required=""/><br><br>
  

    {{user_vehicle}} <br>
    {{service}}  <br>
    {{package}}  <br>
    {{price}}  <br>
 <button type="submit" class="btn btn-success">Book Now</button>
    </form>




{% endblock content %}

