@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

header {
  background: #111;
}

.headline {
  position: relative;
  height: 400px;
  color: #fff;
  text-align: center;
  background: url("https://media.istockphoto.com/photos/close-up-of-red-metallic-car-paint-surface-wallpaper-background-picture-id1305301631?k=20&m=1305301631&s=612x612&w=0&h=75r2AjXfGX6_ZCIQ7CHIFAYCW901p3yQ0gLvtLvhbQI=") no-repeat center center;
  background-size: cover;
}
.headline:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation: fade-in 0.75s 0.25s ease-in forwards;
          animation: fade-in 0.75s 0.25s ease-in forwards;
}
.inner h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1.2em;
}
.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
  font-family: serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
}
nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}
nav li {
  float: left;
}
nav a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}
nav a:hover {
  color: #ededed;
}

.logo {
  height: 75px;
  float: left;
}
.logo:before, .logo:after {
  position: absolute;
  font-size: 7em;
  font-weight: 300;
  line-height: 0;
  color: #fff;
  top: 25px;
}
.logo:before {
  content: "g";
  left: 20px;
}
.logo:after {
  content: "g";
  left: 34px;
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* ################################################################ */
/* ################################################################ */
/* ################################################################ */
/* #########################___welcome page___################################### */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");


.page-contain {
    display: flex;

    align-items: center;
    
  
    font-family: "Open Sans", sans-serif;
  }
  

.data-card {
  display: flex;
  flex-direction: column;
  max-width: 100em;
  min-height: 10em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
  transition: transform 0.45s ease, background 0.45s ease;
}
.data-card h3 {
  color: #2E3C40;
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #a72323;
  transition: color 0.45s ease, border 0.45s ease;
}
.data-card h4 {
  color: #627084;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  transition: color 0.45s ease;
}
.data-card p {
  opacity: 0;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.8;
  margin: 0 0 1.25em;
  transform: translateY(-1em);
  transition: opacity 0.45s ease, transform 0.5s ease;
}
.data-card .link-text {
  display: block;
  color: #a10f0f;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  margin: auto 0 0;
  transition: color 0.45s ease;
}
.data-card .link-text svg {
  margin-left: 0.5em;
  transition: transform 0.6s ease;
}
.data-card .link-text svg path {
  transition: fill 0.45s ease;
}
.data-card:hover {
  background: #3bbd62;
  transform: scale(1.02);
}
.data-card:hover h3 {
  color: #FFFFFF;
  border-bottom-color: #A754C4;
}
.data-card:hover h4 {
  color: #FFFFFF;
}
.data-card:hover p {
  opacity: 1;
  transform: none;
}
.data-card:hover .link-text {
  color: #FFFFFF;
}
.data-card:hover .link-text svg {
  -webkit-animation: point 1.25s infinite alternate;
          animation: point 1.25s infinite alternate;
}
.data-card:hover .link-text svg path {
  fill: #FFFFFF;
}

@-webkit-keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}


/* ################################################################ */
/* ################################################################ */
/* ################################################################ */
/* #########################___Button hone ___################################### */



  div {
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }
  div a {
    width: 100%;
    max-width: 240px;
    height: 54px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #ff4655;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
    position: relative;
    margin: 10px 0;
  }
  div a.white:hover > p {
    color: #ece8e1;
  }
  div a.white > p {
    background: #ece8e1;
    color: #0f1923;
  }
  div a.white > p span.base {
    border: 1px solid transparent;
  }
  div a.transparent:hover > p {
    color: #ece8e1;
  }
  div a.transparent:hover > p span.text {
    box-shadow: 0 0 0 1px #ece8e1;
  }
  div a.transparent > p {
    background: #0f1923;
    color: #ece8e1;
  }
  div a.transparent > p span.base {
    border: 1px solid #ece8e1;
  }
  div a:after, div a:before {
    content: "";
    width: 1px;
    position: absolute;
    height: 8px;
    background: #0f1923;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  div a:before {
    right: 0;
    left: initial;
  }
  div a p {
    margin: 0;
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  div a p span.base {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid #ff4655;
  }
  div a p span.base:before {
    content: "";
    width: 2px;
    height: 2px;
    left: -1px;
    top: -1px;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
  }
  div a p span.bg {
    left: -5%;
    position: absolute;
    background: #ff4655;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
  }
  div a p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  div a p span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
    z-index: 5;
  }
  div a:hover {
    color: #ece8e1;
  }
  div a:hover span.bg {
    width: 110%;
  }
  div a:hover span.text:after {
    background: #ece8e1;
  }




/* ################################################################ */
/* ################################################################ */
/* ################################################################ */
/* #########################___brand page ___################################### */


  
  